<p>(par défaut),</p>
<p>encapsulation: ViewEncapsulation.Emulated,</p>
<p>
  donc le style appliqué ici ne sera appliqué qu'à ce composant. sera appliqué à
  ce composant uniquement.
</p>

<p>
  La stratégie ViewEncapsulation.Emulated d'Angular ajoute les attributs HTML
  uniques aux styles CSS du composant et aux éléments HTML, de sorte que les
  styles appliqués au composant ne fuient pas à l'extérieur et ne sont appliqués
  que pour ce composant particulier (car Angular ajoute un attribut unique à
  tous les éléments de ce composant, de sorte que les styles sont appliqués en
  fonction de l'attribut). Il ne s'agit pas d'une véritable encapsulation.
  Angular émule l'encapsulation, d'où le nom Emulated. Note :
  ViewEncapsulation.Emulated est la stratégie par défaut suivie dans Angular.
</p>
